name: Build Windows

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install NSIS
      run: choco install nsis

    - name: Download Libraries
      run: ./make.bat update

    - name: Build
      run: ./make.bat release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: VegaDAS-Windows-${{ github.sha }}
        path: ../build_windows/bin/*.exe
