name: Build Windows

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install NSIS
      run: choco install nsis

    - name: Download Libraries
      run: ./make.bat update

    - name: Build
      run: ./make.bat release builddir build_windows

    - name: Package Installer (NSIS)
      run: |
        cd ../build_windows
        cpack -C Release -G NSIS
        # Copy installer to workspace as upload-artifact doesn't support paths outside workspace
        cp "Vega-DAS-Installer.exe" "${{ github.workspace }}/Vega-DAS-Installer.exe"
      shell: bash

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: VegaDAS-Windows-Installer-${{ github.sha }}
        path: Vega-DAS-Installer.exe
        if-no-files-found: warn

